.filled svg {
    fill: var(--primary);
}

.right svg {
    margin-right: 5px;
}

.star {
    display: inline-block;
}

.editable {
    cursor: pointer;
}

.ratingWrapper {
    position: relative;
}

.error svg {
    stroke: var(--red);
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: var(--red);
}
