.firstLevel {
    display: grid;
    align-items: center;

    margin-top: 20px;

    font-size: 18px;
    font-weight: 500;
    grid-template-columns: 24px 1fr;
    gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

.secondLevel {
    margin-bottom: 10px;

    cursor: pointer;
    text-transform: uppercase;

    color: var(--gray-dark);

    font-size: 12px;

    font-weight: 300;
    line-height: 16px;
}

.secondBlock {
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;

    border-left: 1px solid #dfdfdf;
}

.secondLevelBlock {
    overflow: hidden;
}

.thirdLevel {
    display: block;

    margin-bottom: 10px;

    cursor: pointer;
    text-wrap: nowrap;

    color: #56585c;

    font-size: 14px;
    line-height: 19px;
    outline-offset: -1px;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}
